<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{background-color: black;}
        h1{color: antiquewhite;text-align: center;font-size: 10vh;}
            </style>
</head>
<body>
    <form action="/log" method = "get">
        <pre>
    <h1>ERRORE
404
    </h1>
</pre>
<embed style="transform: translateX(85vh);" src="static/Fly_Me_to_The_Moon_Neon_Genesis_Evangelion_ED_Synthesia_tutorial___Klafmann_Arrange_W_Sheets.mp3" autostart="true" loop="true" hidden="false">
</form>
</body>
</html>