<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/acoi.css')}}">
    <title>Document</title>
</head>
<body>
<div style="background-color: rgb(0, 0, 0);border-radius: 100vh;">
<pre>
<a href="/radio"style="color:#ff0000">- tutte le stazioni radio che si trovano in un certo quartiere.</a><br>
<a href="/input"style="color:#ff0000">- mappa delle stazioni radio in un quartiere</a><br>
<a href="/numero"style="color:#ff0000">- Numero di stazioni per ogni municipio</a><br></pre>
</div>
</body>
</html>