<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ciao.css')}}">
    <title>Document</title>
</head>
<body>
    <div style="background-color: black;border-radius: 100vh;">
    <p style="size: 100cm;"><a href="/numero">numero di stazioni per ogni monucipio</a><br>
    <a href="/input">elenco di stazioni in un quartiere</a><br>
    <a href="/dropdown">mapppa di un quartiere</a><br></p>
    </div>

 </form>   

 <form action="/selezione">

    
 </form>
</body>
</html>