<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ciao.css')}}">
    <title>Document</title>
</head>
<body>
    <form action="/LaCosa.py">
    <label for="regio">CHIEDI e ti verrà Dato:</label>
    <select name="regioni" id="regioni">
        <option value="Abruzzo" name="Abruzzo">Abruzzo</option>
        <option value="Calabria" name="Calabria">Calabria</option>
        <option value="Campania" name="Campania">Campania</option>
        <option value="Emilia-Romagna" name="Emilia-Romagna">Emilia-Romagna</option>
        <option value="Friuli-Venezia Giulia" name="riuli-Venezia Giulia">Friuli-Venezia Giulia</option>
        <option value="Lazio" name="Lazio">Lazio</option>
        <option value="Liguria" name="Liguria">Liguria</option>
      </select>
    </form>
    <div style="color: aliceblue;background-color: black;">
        {{oi | safe}}
    </div>

</body>
</html>