<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ciao.css')}}">
    <head>
        <title>Welcome</title>
    </head>
    <body bgcolor="{{colore}}">
    
        <p>{{ti}}</p>
        <pre>
<a href="https://3245-lichsenpai13-flask-gqld1tlb5ms.ws-eu34.gitpod.io/frasiGolb"><img src="static/71a-YX3EACL.jpg" width="200" height="300" ></a>  <a href="https://3245-lichsenpai13-flask-gqld1tlb5ms.ws-eu34.gitpod.io/quantomanca"><img src="static/cicciioio.png" width="200" height="300"></a>  <a href="https://3245-lichsenpai13-flask-gqld1tlb5ms.ws-eu34.gitpod.io/meteo"><img src="static/210222-pt_MAR-22-PREVISIONI.jpg" width="200" height="300"></a>
          #frasi                      #calendario                      #meteo

</pre>

    </body>
</html>